body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 3vh auto;
}

a {
  color: #545479;
  text-decoration: underline;
}

a:hover {
  color: #545479;
  text-decoration-color: #00AC8D;
  font-weight: bolder;
}

input {
  border-radius: 2px;
  border: 1px solid #545479;
  padding: 0.3rem 0.5rem;
  margin-bottom: 2vh;  
  font-size: large;
}

.button {
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  box-shadow: 0 0 1px #545479, 0 1px 5px #545479;
  background-color: #E8F3F1;
  font-weight: bolder;
  margin-bottom: 1vh; 
}

.content {
  text-align: center;
}

.container {
  width: 65vw;
}

.boxes {
  display: inline-block;
  background-color: #4FFBDF;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

#flag {
  background-color: red;;
}