body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 3vh auto;
}

p {
  font-size: large;
}

header {
  height: 15vh;
  background-color: rgba(79, 251, 223, 0.4);
  margin-bottom: 5vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

a {
  color: #545479;
  text-decoration: underline;
}

a:hover {
  color: black;
  text-decoration-color: black;
  font-weight: bolder;
}

input {
  border-radius: 2px;
  border: 1px solid #545479;
  padding: 0.3rem 0.5rem;
  margin-bottom: 2vh;  
  font-size: large;
}

.button {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0 0 1px #545479, 0 1px 5px #545479;
  background-color: #E8F3F1;
  font-weight: bolder;
  cursor: pointer;
}

.content {
  text-align: center;
}

.container {
  width: 75vw;
}

.boxes {
  display: inline-block;
  border: 2px solid #00AC8D;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  background-color: #E8F3F1;
}

#flag {
  display: inline-block;
  width: 8vw;
  box-shadow: 0 0 2px #545479;
  margin-bottom: 2vh;
}

footer {
  height: 20vh;
  background-color: #545479;
  color: white;
  margin-top: 5vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

footer a {
  color: white;
}